* {
  margin: 0em;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*---- GOOGLE ICON  ----*/

#search_icon {
  color: lightgray;
}

/*---- NAVBAR / NAV MENU  ----*/

nav {
  background-color: black;
  padding: 1em 3.125em .5em;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
}

.logo_txt {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 10px 20px;
  border-radius: 10px;
}

.search_input {
  border: none;
  background-color: transparent;
}

.search_input::placeholder {
  color: lightgray;
}

.limited_offer {
  color: white;
  font-size: 1.25rem;
  border-bottom: 1px solid green;
  cursor: pointer;
}

.limited_offer:hover {
  border-bottom: 1px solid greenyellow;
}

.nav_bottom {
  margin-top: .75em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  font-size: .75rem
}

.menu_item {
  font-weight: 400;
  color: lightgray;
}

.menu_item:hover {
  cursor: pointer;
  color: gray;
}

/*--------- Slider  ----------*/

.slider {
  margin-top: -.35em;
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 90%);
  overflow: hidden;
}

.slider_wrapper {
  display: flex;
  width: 500vw;
  transition: all 1000ms ease-in-out;
}

.slider_img {
  z-index: 1;
}

.slider_bg {
  width: 60%;
  height: 120%;
  border-radius: 50%;
  position: absolute;
  opacity: 40%;
}

.slider_item {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider_title {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

.slider_price {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  border: 1px solid grey;
  padding: .1em;
  z-index: 1;
}

.buy_btn {
  position: absolute;
  bottom: 30%;
  right: 10%;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  border: none;
  padding: .1em;
  z-index: 1;
  padding: .15em .5em;
  border-radius: 5px;
}

.buy_btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.slider_item:nth-child(1) .slider_bg {
  background-color: #369e62;
}

.slider_item:nth-child(2) .slider_bg {
  background-color: rebeccapurple;
}

.slider_item:nth-child(3) .slider_bg {
  background-color: teal;
}

.slider_item:nth-child(4) .slider_bg {
  background-color: cornflowerblue;
}

.slider_item:nth-child(5) .slider_bg {
  background-color: yellowgreen;
}

.slider_item:nth-child(1) .slider_price {
  color: #369e62;
}

.slider_item:nth-child(2) .slider_price {
  color: rgb(140, 73, 207);
}

.slider_item:nth-child(3) .slider_price {
  color: teal;
}

.slider_item:nth-child(4) .slider_price {
  color: cornflowerblue;
}

.slider_item:nth-child(5) .slider_price {
  color: yellowgreen;
}

/* ------------  features ----------------- */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.125em;
  gap: 1em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined {
  color: green;
}

.feature_title {
  font-weight: 900;
  margin-top: 1em;
}

.feature_description {
  margin-top: .5em;
  width: 50%;
  text-align: center;
  color: grey;
  font-size: .9rem;
}

/* ------------  Products ----------------- */

.product {
  height: 100vh;
  background-color: rgb(219, 219, 219);
  position: relative;
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

.product_img {
  width: 50%;
  margin-top: 4.5em;
  padding-top: 50px;
}

.product_details {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 40%;
  padding: 50px;
}

.product_title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: .5em;
}

.product_description {
  font-size: 1rem;
  color: grey;
  margin-top: 1.5em;
}

.colors,
.sizes {
  display: flex;
  margin-top: 1.75em;
}

.color {
  width: 2em;
  height: 2em;
  border-radius: 5px;
  margin-right: .5em;
  background-color: black;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.color:hover {
  transform: scale(1.1);
  transition: ease-in;
}

.size {
  padding: 0.312em 1.25em;
  border: 1px solid black;
  margin-right: .75em;
  cursor: pointer;
}

.size:hover {
  color: white;
  background-color: black;
  font-weight: 500;
}

.buy_product_btn {
  margin-top: 2.5em;
  padding: 0.725em 1.35em;
  background-color: black;
  color: white;
  font-weight: 800;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 2.5em;
}

.buy_product_btn:hover {
  border: 1px solid black;
  color: black;
  background-color: #fff;
  color: sa;
}

/* ------------  payment modal ----------------- */

.payment {
  color: white;
  text-shadow: 1px 1px black;
  width: 31.25em;
  height: 31.25em;
  background-color: grey;
  opacity: 98%;
  position: absolute;
  border-radius: 10px;
  border: 1px solid grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  box-shadow: 0px 0px 11px 10px rgba(252, 252, 252, 0.91) inset;
  -webkit-box-shadow: 0px 0px 11px 10px rgba(255, 255, 255, 0.91) inset;
  -moz-box-shadow: 0px 0px 11px 10px rgba(253, 253, 253, 0.91) inset;
}